page {
  padding-bottom: 100rpx;
}

.header {
  display: flex;
  align-items: flex-end;
  height: 150rpx;
  padding: 0 20rpx;

  .icon {
    width: 50rpx;
    height: 50rpx;
    font-size: 30rpx;
  }

  .title {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.icon-song {
  font-size: 40rpx;
  margin-right: 20rpx;
}