page {
  padding-bottom: 100rpx;
}

.song-detail {
  .main {
    margin-top: 16rpx;
    height: 78vh;
    text-align: center;
  }

  .activeText {
    color: aqua;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-sub {
    font-size: 30rpx;
    margin-top: 6rpx;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: calc(32rpx + constant(safe-area-inset-bottom));
  padding-bottom: calc(32rpx + env(safe-area-inset-bottom));
  ;
}

.icon-song {
  font-size: 80rpx;
  margin: 0 60rpx;
}

.previous-song,
.next-song {
  font-size: 50rpx;
}